name: 'Vitest'
on:
  pull_request:
    branches: ['main']
jobs:
  vitest:
    runs-on: 'ubuntu-latest'
    permissions:
      # Required to checkout the code
      contents: 'read'
      # Required to put a comment into the pull-request
      pull-requests: 'write'

    steps:
      - name: 'Checkout code'
        uses: 'actions/checkout@v6'
      - name: 'Install Node.js'
        uses: 'actions/setup-node@v6'
        with:
          node-version: '22.x'
      - name: 'Install NPM packages'
        run: 'npm ci'
      - name: 'Test'
        run: 'npm run test-with-coverage'
      - name: 'Report Coverage'
        # Set if: always() to also generate the report if tests are failing
        # Only works if you set `reportOnFailure: true` in your vite config as specified above
        if: 'always()'
        uses: 'davelosert/vitest-coverage-report-action@2500dafcee7dd64f85ab689c0b83798a8359770e'
